/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

a {
    @apply no-underline !important
}

body {
    @apply trans bg-gray-200 font-sans
}

h1 {
    @apply font-thin text-center text-5xl text-gray-800 tracking-wider
}

h2 {
    @apply font-thin text-center text-3xl text-gray-800 tracking-wider
}

h3 {
    @apply font-thin text-center text-2xl text-gray-800 tracking-wider
}

h4 {
    @apply font-thin text-center text-xl text-gray-800 tracking-wider
}

h5 {
    @apply font-thin text-center text-lg text-gray-800 tracking-wider
}

h6 {
    @apply font-thin text-center text-base text-gray-800 tracking-wider
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Transitions
 */

.trans {
    transition: all .25s;
}

.trans-bg {
    transition-property: background;
}

.trans-slow {
    transition-duration: .5s;
}

.trans-slower {
    transition-duration: .5s;
}

.trans-fast {
    transition-duration: .15s;
}

.trans-faster {
    transition-duration: .075s;
}

/*
 * Fixes RW widgets vertical alignments
 */
.rw-widget {
    font-family: sans-serif !important;
}

/*
 * Bootstrap custom CSS
 */
.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (min-width: 768px) {
    .sidebar-sticky {
        margin-top: 51px; /* Height of navbar */
    }
}

.sidebar-sticky {
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.navbar-z {
    z-index: 1030;
}

.navbar-z {
    z-index: 1030;
}

/*
 * FeatherIcons alignment fixes
 */
.feather {
    vertical-align: middle;
    padding: 3px;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
